/* mobile */

#web
{
	display:block;
}

.mov
{
	display:none;
}

.mov1
{
	display:none;
}

body 
{
	background: url("../images/background.jpg");
}
a
{
	text-decoration:none;

}
/*ul
{
	list-style-image: url("../images/icono_list.png");
	top:5px;
	position: relative;
}*/

li
{
	list-style-image: url("../images/icono_list2.png");
	top:5px;
	
}

hr
{
	position: relative;
	top:-15px;
}

label {

width: 100%;
font-size: medium;
	color:#59595b;
}
 
input 
{
position: relative;
width: 100%;

border: 1px #ccc solid;

}

textarea 
{
position: relative;
width: 100%;
border: 1px #ccc solid;

}

.btn_send
{

	width: 30%;
	height: auto;

}
.btn_send2
{

	width: 15%;
	height: auto;

}


.footer
{
	background: url("../images/patron_footer.jpg");	
	height: 57px;
	min-width: 1200px;
	width: 100%;
	bottom:0px;
	position:fixed;
	/*clear: both;*/

}

.main
{


	width: 99%;
	height: 750px;/*750px*/
	min-width: 1200px;
	position: relative;
	
	
}
.menu
{
	
	width: 768px;
	position: absolute;
	left: 25%;
	top: 45px;

}
.logo
{

	
	width: 19%;
	position: absolute;

	top:85px;
}
.container
{
	position: absolute;
	width: 768px;
	left: 25%;
	top:135px;
	height: 800px;/*<!--510px-->*/
	
}

.container2
{
	position: absolute;
	width: 768px;
	left: 25%;
	top:135px;
	height: 750px;/*<!--510px-->*/
	overflow:auto;
	
}

.nav
{
	
	
	width: 99%;
}
.contact
{

	width: 99%;
	text-align: right;
	padding-bottom: 5px;

}

.scale_mage
{
	max-width: 100%;
	height: auto;
}
.colores
{
	width: 100%;
	min-height:5px;
	min-width: 1200px;
	margin-top:12%;
	
}

.list
{
	position: relative;
	padding-left: 25px;
	width:100%;
}
.list1
{
	position: relative;
	width: 40%;
	float: left;
	padding-left: 10%;
}
.list2
{
	position: relative;
	width: 40%;
	float: left;
	padding-left: 7%;
}


/**TEXTO**/

p, .art
{
	font-size: 13px;
	color:#59595b;

}

.txt_small
{
	font-size: 10px;
}

.txt_medium
{
	font-size: 14px;
}
.title
{
	font-size: 35px;
	color:#59595b;
	font-style: bold;
	font-weight:900;
	padding-bottom: 0px;
}

.title_green
{
	font-size: 35px;
	color:#83b817;
	font-style: bold;
	font-weight: 900;
	padding-bottom: 0px;
}

.title.m
{
	font-size: 35px;
	color:#59595b;
	font-style: bold;
	font-weight:900;
	padding-bottom: 0px;
	padding-left:5%;
}

.title_green.m
{
	font-size: 35px;
	color:#83b817;
	font-style: bold;
	font-weight: 900;
	padding-bottom: 0px;
	padding-left:5%;
}

.txt_green
{
	color:#83b817;	
}

.txt_gray
{
	color:#59595b;	
}

.txt_footer
{
	font-size: 10px;
	color:#fff;
	position: relative;
	top:-20px;
	left: 24%;
	width: 40%;
}

.txt_forma
{
	font-size: 12px;
	color:#59595b;

}

.art
{

}

.logo_footer
{
	position: relative;
	left: 90%;
	top: 11px;
}

/*** Submenu ***/


.img_des
{
	position: relative;
	left: -10px;
}
.img_des_1
{
	position: relative;
	left: -20px;
}

.img_des_2
{
	position: relative;
	left: -30px;
}

.img_des_3
{
	position: relative;
	left: -40px;
}

.img_des_4
{
	position: relative;
	left: -50px;
}

.img_des_5
{
	position: relative;
	left: -60px;
}
.img_des_6
{
	position: relative;
	left: -70px;
}

/*** Sub Sub Menu ***/

.sub_submenu
{
	position: relative;
	left: 210px;
}


.sub_submenu_1
{
	position: relative;
	left: 331px;
}

.sub_submenu_2
{
	position: relative;
	left: 50px;
}
.sub_submenu_3
{
	position: relative;
	left: 490px;
}
.sub_submenu_4
{
	position: relative;
	left: -5px;
}

/*** Fuerza ***/

.btn:hover
{
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.cir_r
{
	position: relative;
	left: 100px;
	top:-20px;
}

.cir_p
{
	position: relative;
	left: 210px;
	top:20px;
}

.cir_a
{
	position: relative;
	left: 220px;
	top:-50px;
}

.cir_c
{
	position: relative;
	left: 115px;
	top:-10px;
}

.cir_i
{
	position: relative;
	left: 5px;
	top:-50px;
}

.cir_m
{
	position: relative;
	left: 350px;
	top:0px;
}

.cir_g
{
	position: relative;
	left: 350px;
	top:-50px;
}


/*** Contacto ***/

.c_left
{
	position: relative;
	float: left;
	width: 65%;
	


}
.c_right
{
	position: relative;
	float: left;
	width: 30%;
	font-size: 12px;
	border-left: 1px #ccc solid;
	padding-left: 10px;
}
.c_foot
{
	clear: both;
	width: 100%;
}

.indicador
{
	position: relative;
	top:-153px;
	left:257px;
}
input 
{ 
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px; 
	border-radius: 7px; 
}

textarea 
{ 
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px; 
	border-radius: 7px; 
}

/*** Aviso ***/

.aviso
{
	width:100%;
	overflow:auto;
}

/*** Home ***/

.h_col1
{
	position: relative;
	width: 250px;
	float: left;

}

.h_col2
{
	position: relative;
	float: left;
	
	width: 247px;
}

.h_col3
{
	position: relative;
	float: left;
	
	width: 250px;
}

/*** Modal ***/

.modal
{
	position: absolute;
	visibility: hidden;

	/*background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc), color-stop(1, #ccc) );
	*/
	background: url("../images/patron_background_inv_small.jpg");
	
	width: 250px;
	top:150px;
	left:50px;
	padding: 2% 2% 2% 4%;
	border-radius: 8px 8px 8px 8px;

}
.modal:after
{
	content: ""; 
	position: absolute; 
	top: 100%; 
	left: 10px; 

	border-top: 20px solid blue; 
	border-top-color: #ccc; 
	border-left: 20px solid transparent; 
	border-right: 20px solid transparent;
}

.modal2
{
	position: absolute;
	visibility: hidden;

	/*background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc), color-stop(1, #ccc) );
	*/
	background: url("../images/patron_background_inv_small.jpg");
	
	width: 250px;
	top:37px;
	left:230px;
	padding: 2% 2% 2% 4%;
	border-radius: 8px 8px 8px 8px;

}
.modal2:after
{
	content: ""; 
	position: absolute; 
	top: 100%; 
	left: 10px; 

	border-top: 20px solid blue; 
	border-top-color: #ccc; 
	border-left: 20px solid transparent; 
	border-right: 20px solid transparent;
}